$font-url: 'fonts/pluto/';

@font-face {
    font-family: 'pluto';
    src: url('#{$font-url}plutoheavy-webfont.eot');
    src: url('#{$font-url}plutoheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}plutoheavy-webfont.woff2') format('woff2'),
         url('#{$font-url}plutoheavy-webfont.woff') format('woff'),
         url('#{$font-url}plutoheavy-webfont.ttf') format('truetype'),
         url('#{$font-url}plutoheavy-webfont.svg#pluto') format('svg');
    font-weight: 600;
    font-style:normal;
}

@font-face {
    font-family: 'pluto';
    src: url('#{$font-url}plutomedium-webfont.eot');
    src: url('#{$font-url}plutomedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}plutomedium-webfont.woff2') format('woff2'),
         url('#{$font-url}plutomedium-webfont.woff') format('woff'),
         url('#{$font-url}plutomedium-webfont.ttf') format('truetype'),
         url('#{$font-url}plutomedium-webfont.svg#pluto') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pluto_sans';
    src: url('#{$font-url}pluto_sans_cond_regular-webfont.eot');
    src: url('#{$font-url}pluto_sans_cond_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}pluto_sans_cond_regular-webfont.woff2') format('woff2'),
         url('#{$font-url}pluto_sans_cond_regular-webfont.woff') format('woff'),
         url('#{$font-url}pluto_sans_cond_regular-webfont.ttf') format('truetype'),
         url('#{$font-url}pluto_sans_cond_regular-webfont.svg#pluto_sans') format('svg');
    font-weight: 200;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'pluto';
        src: url('#{$font-url}plutoheavy-webfont.svg#pluto') format('svg');
        font-weight: 600;
    }
    @font-face {
        font-family: 'pluto';
        src: url('#{$font-url}plutomedium-webfont.svg#pluto') format('svg');
        font-weight: 400;
    }
    @font-face {
        font-family: 'pluto_sans';
        src: url('#{$font-url}pluto_sans_cond_regular-webfont.svg#pluto_sans') format('svg');
    }
}