$oparque-black: rgb(0, 0, 0);
$oparque-white: rgb(255, 255, 255);

$oparque-gray: rgb(76, 76, 78);
$oparque-blue: rgb(58, 85, 155);
$oparque-cyan: rgb(20, 176, 230);
$oparque-green: rgb(0, 166, 142);
$oparque-yellow: rgb(254, 194, 33);
$oparque-orange: rgb(239, 64, 40);
$oparque-purple: rgb(181, 81, 146);

$text-color: $oparque-black;

@mixin skew($direction, $backface: "", $origin: "") {
    $skewDegrees: 5deg;

    -moz-transform: skewY($direction * $skewDegrees);
    -ms-transform: skewY($direction * $skewDegrees);
    -o-transform: skewY($direction * $skewDegrees);
    -webkit-transform: skewY($direction * $skewDegrees);
    transform: skewY($direction * $skewDegrees);

    @if $origin == "" {
        $origin: left;

        @if $direction < 0 {
            $origin: right;
        }
    }

    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -o-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;

    @if $backface != "" {
        -moz-backface-visibility: $backface;
        -webkit-backface-visibility: $backface;
        backface-visibility: $backface;
    }
}

@mixin backImage($url: "", $position: center, $size: contain) {
    border: none;
    background-color: inherit;
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;

    @if $url != "" {
        background-image: url($url);
    }
}

@if not variable-exists(_COMMON_SCSS) {
    $_COMMON_SCSS: true;

    main {
        padding: 0 2rem;
    }

    input[type=text], input[type=email] {
        border: .3rem solid $oparque-black;
        border-radius: .5rem;
        padding: .5rem;
        vertical-align: middle;

        &:focus {
            border-color: $oparque-orange;
            outline: none;
        }
    }

    input[type=submit] {
        vertical-align: middle;
        $width: 2.75rem;
        width: $width;
        margin-left: -1rem - $width;
        @include backImage;

        &:focus {
            outline: none;
        }
    }
}
