$oparque-black: rgb(0, 0, 0);
$oparque-white: rgb(255, 255, 255);

$oparque-gray: rgb(76, 76, 78);
$oparque-blue: rgb(58, 85, 155);
$oparque-cyan: rgb(20, 176, 230);
$oparque-green: rgb(0, 166, 142);
$oparque-yellow: rgb(254, 194, 33);
$oparque-orange: rgb(239, 64, 40);
$oparque-purple: rgb(181, 81, 146);

$text-color: $oparque-black;

@mixin backImage($url: "", $position: center, $size: contain) {
    border: none;
    background-color: inherit;
    background-position: $position;
    background-size: $size;
    background-repeat: no-repeat;

    @if $url != "" {
        background-image: url($url);
    }
}

@if not variable-exists(_COMMON_SCSS) {
    $_COMMON_SCSS: true;

    input[type=text], input[type=email] {
        border: .3rem solid $oparque-black;
        border-radius: .5rem;
        padding: .5rem;
        vertical-align: middle;

        &:focus {
            border-color: $oparque-orange;
            outline: none;
        }
    }

    input[type=submit] {
        vertical-align: middle;
        $width: 2.75rem;
        width: $width;
        margin-left: -1rem - $width;
        @include backImage;

        &:focus {
            outline: none;
        }
    }
}
