@import "common";

footer {
    background-color: white;
    padding: 2rem;

    a {
        text-decoration: none;
        color: $text-color;
    }

    address {
        width: 100%;

        div {
            width: 25rem;
            margin: 2rem auto;
        }

        img {
            display: inline-block;
            width: 3rem;
            vertical-align: middle;
        }

        .content {
            display: inline-block;
            vertical-align: middle;
            width: 23rem;
        }

        font-style: normal;
    }
}
