@import "common";

$max-width: 36rem;

footer {
    margin: 2rem;

    address {
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        display: block;
        width: 100%;
        max-width: $max-width;
        margin: auto;
        margin-bottom: 5rem;

        a {
            color: $oparque-black;
            text-decoration: none;
            margin-bottom: 1.6rem;

            &:visited {
                color: $oparque-black;
            }
        }

        div {
            margin-bottom: 2rem;
        }

        div::before {
            display: inline-block;
            vertical-align: middle;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
            width: 3rem;
        }

        .mail::before {
            background-image: url(../images/mail.svg);
            height: 3rem;
        }

        .phone::before {
            background-image: url(../images/phone.svg);
            height: 3rem;
        }

        .address::before {
            background-image: url(../images/pin.svg);
            height: 3.8rem;
        }
    }

    .newsletter {
        font-size: 1.4rem;
        width: 100%;
        max-width: $max-width;
        margin: auto;
        display: block;

        .form {
            border: .4rem solid $oparque-black;
            border-radius: 1rem;
            padding: .5rem 1rem;
            height: 4rem;
            position: relative;
            margin: .5rem 0 2rem 0;
        }

        input {
            position: absolute;
            display: inline;
            border: 0;
            padding: 0;
            vertical-align: middle;
            font-size: 1.6rem;

            &:focus {
                outline: 0;
            }
        }

        input[type="email"] {
            width: 90%;
        }

        input[type="submit"] {
            width: 3rem;
            height: 2rem;
            right: .2rem;
            background-color: inherit;
            background-image: url(../images/right-arrow.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .social {
        text-align: center;

        a {
            display: inline-block;
            width: 4rem;
            margin: .5rem;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* POG pro IE. Perdão. */
            margin-top: -5.5rem;
        }
    }
}

@media (min-width: 60rem /*960px*/ ) {
    footer {
        /*margin-left: auto;
        margin-right: auto;*/

        address {
            display: inline-block;
        }

        .newsletter {
            display: inline-block;
        }
    }
}
