@import "common";

header {
    font-size: 0;
    background-color: white;
    padding: 1rem;

    > div {
        font-size: 1.6rem;
    }

    .logo {
        a {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            max-width: 32rem;
            height: auto;
        }
    }

    .menu-button {
        display: inline-block;
        width: 4rem;
        height: 4rem;

        button {
            border: none;
            background-color: transparent;
            background-size: contain;
            width: 100%;
            height: 100%;

            &:focus {
                outline: 0;
            }
        }

        &:focus {
            outline: 0;
        }

        .button-open {
            background-image: url(../images/down-arrow.svg);
        }

        .button-close {
            background-image: url(../images/close.svg);
        }
    }

    .social {
        display: inline-block;
        width: calc(100% - 4rem);
        text-align: right;

        a {
            display: inline-block;
            width: 4rem;
            height: auto;
            margin-left: 1rem;
        }
    }

    nav {
        display: none;

        a {
            font-size: 1.8rem;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            color: $oparque-black;
            margin-top: .6rem;

            &:visited {
                color: $oparque-black;
            }
        }
    }
}
