@import "common";

* {
    //outline: 1px solid red;
}

#projetos-container {
    .categorias {
        padding: 0;
        @include skew(-1, hidden);
        font-size: 0;

        li {
            display: inline-block;
            width: 100%;
            min-height: 15rem;
            height: 15rem;
            height: calc(25vh - 5rem); // Fórmula original: calc(.25 * (100vh - 20rem));
            max-height: 35rem;
            list-style-type: none;
            padding: 0;
            margin: 0;
            font-size: 1.6rem;
        }

        .content {
            @include backImage("", center, cover);
            width: 100%;
            height: 100%;
        }

        .design .content {
            background-image: url(../images/projetos/mao_design.jpg);
        }

        .arte .content {
            background-image: url(../images/projetos/mao_arte.jpg);
        }

        .educacao .content {
            background-image: url(../images/projetos/mao_educacao.jpg);
        }

        .eventos .content {
            background-image: url(../images/projetos/mao_eventos.jpg);
        }

        a {
            vertical-align: middle;
            text-align: center;
        }

        img {
            display: block;
            @include skew(1);
            height: 100%;
            width: auto;
            margin: auto;
        }
    }

    .sobre {
        $padding: 3.5rem;

        text-align: right;
        background-color: $oparque-cyan;
        @include skew(-1);
        margin: 2rem 0;
        padding: 3rem $padding;

        h1, p {
            margin: 1rem 0;
        }

        img, span {        
            display: block;    
            @include skew(1, "", right);
        }

        img {
            height: 40px; // Fallback
            height: 10vw;
            max-height: 4rem;
            width: auto;
            margin: 0 0 2rem auto;
        }

        /*&:after {
            @include skew(2, "", right);
            display: block;
            position: absolute;
            bottom: -3rem;
            right: $padding;
            z-index: 100;
            background-color: red;
            margin: 0 -#{$padding};
            content: "";
            height: 5rem;
            width: 100%;
        }*/
    }

    @media all and (min-width: 64rem /*1024px*/ ) {
        .categorias {
            li {
                width: 50%;
                height: calc(50vh - 10rem); // Fórmula original: calc(.5 * (100vh - 20rem));
            }

            img {
                height: 85%;
            }
        }
    }
}
