@import "common";
@import "menu";

#projetos-container {
    .container {
        @media (min-width: 80rem /* 1280px*/ ) {
            padding: 5%;
        }

        @media (min-width: 100rem /* 1600px*/ ) {
            padding: 10%;
        }
    }

    .categorias {
        padding: 0;
        margin: 0;
        font-size: 0;
        @include skew(-1);

        li {
            padding: 0;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
            color: $main-gray;
            list-style-type: none;
            display: inline-block;
            width: 100%;
            text-align: center;
            height: calc(.24 * (100vh - #{$menu-height}) - 1rem);
            font-size: 5vh;
            position: relative;

            a {
                color: $oparque-white;
                display: block;
                position: absolute;
                -moz-transform: skewY($skewDegrees) translateX(-50%) translateY(-60%);
                -ms-transform: skewY($skewDegrees) translateX(-50%) translateY(-60%);
                -o-transform: skewY($skewDegrees) translateX(-50%) translateY(-60%);
                -webkit-transform: skewY($skewDegrees) translateX(-50%) translateY(-60%);
                transform: skewY($skewDegrees) translateX(-50%) translateY(-60%);
                left: 50%;
                top: 60%;
            }
        }

        .design {
            background-color: $oparque-cyan;
        }

        .artes {
            background-color: $oparque-green;
        }

        .educacao {
            background-color: $oparque-yellow;
        }

        .eventos {
            background-color: $oparque-orange;
        }

        @media (min-width: 45rem /* 720px*/ ) {
            li {
                width: 50%;
                height: calc(.4 * (100vh - #{$menu-height}) - 1rem);
            }
        }

        @media (min-width: 60rem /* 960px*/ ) {
            margin-top: 4rem;
        }

        @media (min-width: 80rem /* 1280px*/ ) {
            margin-top: -6rem;
        }

        @media (min-width: 100rem /* 1600px*/ ) {
            margin-top: -17rem;
        }
    }

    .sobre-projetos {
        margin: 2rem;
        text-align: right;

        h1 {
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }

        @media (min-width: 80rem /* 1280px*/ ) {
            margin: 0;

            p {
                width: 60%;
                margin-left: 40%;
            }
        }
    }

    .projetos {
        ul {
            padding: 0;
            font-size: 0;
        }

        li {
            list-style: none;
            /*-webkit-clip-path: polygon(0 0, 100% 17.63269807%, 100% 100%, 0 82.36730193%);
            clip-path: polygon(0 0, 100% 17.63269807%, 100% 100%, 0 82.36730193%);
            margin-bottom: -7.1rem;*/
            
            /*-webkit-clip-path: url(#clipping);
            clip-path: url(#clipping);*/
        }

        span {
            display: block;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 40rem;
        }
    }
}
