@import "common";

// Inclina um elemento conforme os parâmetros passados
@mixin skew($direction, $backface: "", $origin: "") {
    $skewDegrees: 5deg;

    -moz-transform: skewY($direction * $skewDegrees);
    -ms-transform: skewY($direction * $skewDegrees);
    -o-transform: skewY($direction * $skewDegrees);
    -webkit-transform: skewY($direction * $skewDegrees);
    transform: skewY($direction * $skewDegrees);

    @if $origin == "" {
        $origin: left;

        @if $direction < 0 {
            $origin: right;
        }
    }

    -moz-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -o-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;

    @if $backface != "" {
        -moz-backface-visibility: $backface;
        -webkit-backface-visibility: $backface;
        backface-visibility: $backface;
    }
}

// Inclina uma lista de imagens conforme os parâmetros passados
@mixin skewed($direction, $backface, $origin, $height, $min-height, $max-height) {
    padding: 0;
    font-size: 0;
    @include skew($direction, $backface, $origin);

    li {
        display: inline-block;
        font-size: 1.6rem;
        overflow: hidden;
        width: 100%;
        min-height: $min-height;
        height: $min-height; // Fallback
        height: $height;
        max-height: $max-height;
    }

    .content {
        width: 100%;
        min-height: $min-height;
        height: $min-height; // Fallback
        height: $height;
        max-height: $max-height;
        display: inline-block;
        @include backImage("", center, cover);
    }
}
