@font-face {
  font-family: 'pluto';
  src: url("plutoheavy-webfont.eot");
  src: url("plutoheavy-webfont.eot?#iefix") format("embedded-opentype"), url("plutoheavy-webfont.woff2") format("woff2"), url("plutoheavy-webfont.woff") format("woff"), url("plutoheavy-webfont.ttf") format("truetype"), url("plutoheavy-webfont.svg#pluto") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'pluto';
  src: url("plutomedium-webfont.eot");
  src: url("plutomedium-webfont.eot?#iefix") format("embedded-opentype"), url("plutomedium-webfont.woff2") format("woff2"), url("plutomedium-webfont.woff") format("woff"), url("plutomedium-webfont.ttf") format("truetype"), url("plutomedium-webfont.svg#pluto") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'pluto_sans';
  src: url("pluto_sans_cond_regular-webfont.eot");
  src: url("pluto_sans_cond_regular-webfont.eot?#iefix") format("embedded-opentype"), url("pluto_sans_cond_regular-webfont.woff2") format("woff2"), url("pluto_sans_cond_regular-webfont.woff") format("woff"), url("pluto_sans_cond_regular-webfont.ttf") format("truetype"), url("pluto_sans_cond_regular-webfont.svg#pluto_sans") format("svg");
  font-weight: 200;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'pluto';
    src: url("plutoheavy-webfont.svg#pluto") format("svg");
    font-weight: 600; }
  @font-face {
    font-family: 'pluto';
    src: url("plutomedium-webfont.svg#pluto") format("svg");
    font-weight: 400; }
  @font-face {
    font-family: 'pluto_sans';
    src: url("pluto_sans_cond_regular-webfont.svg#pluto_sans") format("svg"); } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: Pluto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  /* 1 */
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  font-size: 62.5%; }

/**
 * Remove default margin.
 */
body {
  margin: 0;
  background-color: white;
  font-size: 1.6em; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: .1em dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2.5em;
  margin: 0.67em 0;
  text-transform: uppercase; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 4em; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit boog in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: .1em solid #c0c0c0;
  margin: 0 0.2em;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Sane border model*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

nav {
  font-weight: 700;
  text-transform: uppercase;
  color: #4c4c4e;
  font-size: 1.8rem;
  border: 2rem solid white; }
  nav a {
    display: block;
    text-decoration: none;
    margin: 1rem 0;
    color: #4c4c4e; }
    nav a:visited {
      color: #4c4c4e; }
  nav .logo {
    background-color: white;
    position: relative;
    z-index: -1;
    text-align: center;
    width: 100%; }
    nav .logo img {
      width: 100%;
      max-width: 32rem;
      height: 10rem; }
    nav .logo a {
      display: inline-block; }
  nav .open-menu {
    display: block; }
    nav .open-menu button {
      margin-right: 1rem;
      border: none;
      background-color: transparent;
      background-size: contain; }
      nav .open-menu button:focus {
        outline: 0; }
  nav .button-closed {
    background-image: url(../images/down-arrow.svg);
    width: 4rem;
    height: 2.4rem; }
  nav .button-open {
    background-image: url(../images/right-arrow.svg);
    width: 2.4rem;
    height: 4rem; }
  nav .menu {
    display: none; }
  @media (min-width: 60rem) {
    nav {
      text-align: center; }
      nav .open-menu {
        display: none; }
      nav .menu, nav .menu div {
        display: inline-block; }
      nav .menu {
        margin: 1.5rem 0; }
        nav .menu a {
          display: inline-block;
          margin: 0 2rem; } }
  @media (min-width: 80rem) {
    nav .first-column, nav .second-column {
      position: absolute;
      top: 7.5rem;
      width: calc(50% - 16rem - 3rem); }
    nav .first-column {
      left: 2rem; }
    nav .second-column {
      right: 2rem; }
    nav .menu a {
      margin: 0 1.8rem; } }
  @media (min-width: 100rem) {
    nav .menu a {
      font-size: 2rem;
      margin: 0 3rem; } }

nav {
  font-weight: 700;
  text-transform: uppercase;
  color: #4c4c4e;
  font-size: 1.8rem;
  border: 2rem solid white; }
  nav a {
    display: block;
    text-decoration: none;
    margin: 1rem 0;
    color: #4c4c4e; }
    nav a:visited {
      color: #4c4c4e; }
  nav .logo {
    background-color: white;
    position: relative;
    z-index: -1;
    text-align: center;
    width: 100%; }
    nav .logo img {
      width: 100%;
      max-width: 32rem;
      height: 10rem; }
    nav .logo a {
      display: inline-block; }
  nav .open-menu {
    display: block; }
    nav .open-menu button {
      margin-right: 1rem;
      border: none;
      background-color: transparent;
      background-size: contain; }
      nav .open-menu button:focus {
        outline: 0; }
  nav .button-closed {
    background-image: url(../images/down-arrow.svg);
    width: 4rem;
    height: 2.4rem; }
  nav .button-open {
    background-image: url(../images/right-arrow.svg);
    width: 2.4rem;
    height: 4rem; }
  nav .menu {
    display: none; }
  @media (min-width: 60rem) {
    nav {
      text-align: center; }
      nav .open-menu {
        display: none; }
      nav .menu, nav .menu div {
        display: inline-block; }
      nav .menu {
        margin: 1.5rem 0; }
        nav .menu a {
          display: inline-block;
          margin: 0 2rem; } }
  @media (min-width: 80rem) {
    nav .first-column, nav .second-column {
      position: absolute;
      top: 7.5rem;
      width: calc(50% - 16rem - 3rem); }
    nav .first-column {
      left: 2rem; }
    nav .second-column {
      right: 2rem; }
    nav .menu a {
      margin: 0 1.8rem; } }
  @media (min-width: 100rem) {
    nav .menu a {
      font-size: 2rem;
      margin: 0 3rem; } }

@media (min-width: 80rem) {
  #projetos-container .container {
    padding: 5%; } }

@media (min-width: 100rem) {
  #projetos-container .container {
    padding: 10%; } }

#projetos-container .categorias {
  padding: 0;
  margin: 0;
  font-size: 0;
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg); }
  #projetos-container .categorias li {
    padding: 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: #4c4c4e;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: calc(.24 * (100vh - 16.4rem) - 1rem);
    font-size: 5vh;
    position: relative; }
    #projetos-container .categorias li a {
      color: white;
      display: block;
      position: absolute;
      -moz-transform: skewY(5deg) translateX(-50%) translateY(-60%);
      -ms-transform: skewY(5deg) translateX(-50%) translateY(-60%);
      -o-transform: skewY(5deg) translateX(-50%) translateY(-60%);
      -webkit-transform: skewY(5deg) translateX(-50%) translateY(-60%);
      transform: skewY(5deg) translateX(-50%) translateY(-60%);
      left: 50%;
      top: 60%; }
  #projetos-container .categorias .design {
    background-color: #14b0e6; }
  #projetos-container .categorias .artes {
    background-color: #00a68e; }
  #projetos-container .categorias .educacao {
    background-color: #fec221; }
  #projetos-container .categorias .eventos {
    background-color: #ef4028; }
  @media (min-width: 45rem) {
    #projetos-container .categorias li {
      width: 50%;
      height: calc(.4 * (100vh - 16.4rem) - 1rem); } }
  @media (min-width: 60rem) {
    #projetos-container .categorias {
      margin-top: 4rem; } }
  @media (min-width: 80rem) {
    #projetos-container .categorias {
      margin-top: -6rem; } }
  @media (min-width: 100rem) {
    #projetos-container .categorias {
      margin-top: -17rem; } }

#projetos-container .sobre-projetos {
  margin: 2rem;
  text-align: right; }
  #projetos-container .sobre-projetos h1 {
    margin-bottom: 0; }
  #projetos-container .sobre-projetos p {
    margin-top: 0; }
  @media (min-width: 80rem) {
    #projetos-container .sobre-projetos {
      margin: 0; }
      #projetos-container .sobre-projetos p {
        width: 60%;
        margin-left: 40%; } }

#projetos-container .projetos ul {
  padding: 0;
  font-size: 0; }

#projetos-container .projetos li {
  list-style: none;
  /*-webkit-clip-path: polygon(0 0, 100% 17.63269807%, 100% 100%, 0 82.36730193%);
            clip-path: polygon(0 0, 100% 17.63269807%, 100% 100%, 0 82.36730193%);
            margin-bottom: -7.1rem;*/
  /*-webkit-clip-path: url(#clipping);
            clip-path: url(#clipping);*/ }

#projetos-container .projetos span {
  display: block;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40rem; }
