<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% if record.title is defined %}{{ record.title|striptags }}
        {% else %} OPARQUE {% endif %}
    </title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ paths.theme }}css/main.min.css">
</head>
<body>
<header class="menu">
    <nav>
        <div class="logo">
            <a href="/">
                <img src="{{ paths.theme }}images/logo.svg" alt="Logo d'OPARQUE" />
            </a>
        </div>

        <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/projetos">Notícias</a></li>
            <li><a href="/localizacao">Eventos</a></li>
            <li><a href="/agenda">Localização</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
</header>

<main>
    