<!DOCTYPE html>
<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% if record.title is defined %}{{ record.title|striptags }}
        {% else %} OPARQUE {% endif %}
    </title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ paths.theme }}css/main.min.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="{{ paths.theme }}images/logo.svg" alt="Logo d'OPARQUE" />
                </a>
            </div>

            <div class="open-menu">
                <button class="button-closed" onclick="toggleMenu(); return false;"></button>
            </div>

            <div class="menu">
                <div class="first-column">
                    <a href="/">Sobre</a>
                    <a href="/projetos/">Projetos</a>
                    <a href="/">Onde estamos</a>
                </div>

                <div class="second-column">
                    <a href="/">Tá rolando</a>
                    <a href="/">Agenda</a>
                    <a href="/">Contatos</a>
                </div>
            </div>
        </nav>
    </header>

    <main>
